# Introduction to Data Science in Python 
Michigan University

Tipos de caracteres, funciones, listas, tuplas, diccionarios

In [ ]:
tomado el traves de Courera.com
Se puede considerar como referencia el siguiente link:

https://github.com/wesm/pydata-book

se tienen ejercicios reuseltos de practica

## The python programing language: Function

In [1]:
x=1
y=2
x+y

3

Queremos definir una funcion, usamos la palabra DEF

In [3]:
def add_numbers(x,y):
    return x+y

add_numbers(3,5)

8

In [4]:
def add2(x,y,z):
    return x+y+z

add2(1,2,3)

6

In [7]:
def add3(x,y,z=None):
    if(z==None):
        return x+3
    else:
        (z!=None)
        return x+y+z
        
print(add3(1,2))
print(add3(4,5,6))

4
15

## The python programming languages: Types and sequences

In [8]:
type("this is string")

str

In [9]:
type(None)

NoneType

In [10]:
type(1)

int

In [11]:
type(1.0)

float

In [12]:
type(add_numbers)

function

### tuplas, listas y diccionarios

tuplas son inmutables; es decir, no se pueden modificar luego de creadas

In [20]:
x=(1,"a",2,"b")
type(x)

tuple

listas son mutables, es decir, se puede modificar longitud, valores de elementos.

In [16]:
y=[1,"a",2,"b"]
type(y)

list

con la funcion append podmeos agregar elementos al final de la lista

In [22]:
y.append(1.4)
print(y)

[1, 'a', 2, 'b', 1.4]

In [27]:
for item in y:
    print(item)

1
a
2
b
1.4

In [28]:
i=0
while(i != len(y)):
    print(y[i])
    i=i+1

1
a
2
b
1.4

para unir listas se usa "+", para repetir elementos "*"

In [30]:
[1,2]+[3,4,5]

[1, 2, 3, 4, 5]

In [31]:
3*[2,3]

[2, 3, 2, 3, 2, 3]

verificar pertenencia de elementos

In [32]:
1 in [1,2,3]

True

Se puede extraer los elementos por ejemplo:

In [40]:
x="this is an string"
print(x[0])
print(x[0:2]) #imprime un elemento menos
print(x[0:3])
# para extraer los ultimos elementos, usamos un signo negativo
print(x[-1])
print(x[-4:-2])
print(x[3:]) # si dejo libre, toma los elementos restantes

t
th
thi
g
ri
s is an string

In [43]:
firstname="Luis"
lastname="Amagua"

print(firstname+" "+lastname) # unimos los nombres
print(firstname*3)
print("Luis" in firstname)

Luis Amagua
LuisLuisLuis
True

In [49]:
firstname="Luis Fabian Amagua Obando".split(" ")[0]
lastname="Luis Fabian Amagua Obando".split(" ")[-2]
print(firstname)
print(lastname)

Luis
Amagua

# Diccionarios

In [1]:
x={"Luis Amagua": "luis.amagua@epn.edu.ec", "Viviana Gavilanes": "viviana.gavilanes@epn.edu.ec" }
x["Luis Amagua"]
# puedo agregar elementos en el diccionario
x["Melva Obando"]=None
x

{'Luis Amagua': 'luis.amagua@epn.edu.ec',
 'Viviana Gavilanes': 'viviana.gavilanes@epn.edu.ec',
 'Melva Obando': None}

In [2]:
#imprimir todos los elementos del diccionario
for name in x:
    print(x[name])

luis.amagua@epn.edu.ec
viviana.gavilanes@epn.edu.ec
None

In [3]:
# imprimir los valores asociados a los elementos
for email in x.values():
    print(email)

luis.amagua@epn.edu.ec
viviana.gavilanes@epn.edu.ec
None

In [4]:
#iterando sobre los itemas, tomando el key y el valor

for names,email in x.items():
    print(names)
    print(email)

Luis Amagua
luis.amagua@epn.edu.ec
Viviana Gavilanes
viviana.gavilanes@epn.edu.ec
Melva Obando
None

# Programming Language: More on strings

Tener cuidado con unir tipos de datos diferentes, por ejemplo

In [6]:
print("Luis"+2)

TypeError: can only concatenate str (not "int") to str

debemos pasar a tipo string para poder concatenarlos

In [7]:
print("Luis"+str(2))

Luis2

In [10]:
sales_record={"price":3.24,
             "num_item":4,
             "person":"Chris"}

sales_statement="{} bought {} item(s) at a price of {} each for total of {}"

print(sales_statement.format(sales_record["person"],
                            sales_record["num_item"],
                            sales_record["price"],
                            sales_record["num_item"]*sales_record["price"]))

Chris bought 4 item(s) at a price of 3.24 each for total of 12.96